#GTM .cargando {
	text-align: center;
}
#GTM select,#GTM input[type=text]{color:unset;padding:10px;background-color:#FFFFFF;border:none;margin:0 10px 0 0;display:inline-block;max-width:190px;vertical-align: middle;}
#GTM select {
	background-color: #ffffff !important;
	display: inline-block !important;
}
#GTM .filtros {
	background-color: #3ce889;
	padding:20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}
#GTM .filtros__columnas:not(:first-child) {
    margin-left: 15px;
}
#GTM .filtros__columnas {
	flex: 0 1 auto;
    align-self: center;
}
#GTM .filtros__label {
	margin: 0 10px 0 0;
	color: #333;
    font-weight: 800;
	display: inline-block;
	vertical-align: middle;
}
#GTM .resultado__nombre {
    font-weight: 700;
    margin: 15px 0 0 15px;
    text-transform: uppercase;
}
#GTM #filtros__buscar { vertical-align: middle; }
#GTM #filtros__buscar,
#GTM #filtros__reset,
#GTM .paginacion__boton {
    cursor: pointer;
    -webkit-appearance: button;
    background-color: #00a665;
    color: #fff!important;
    box-shadow: 0px 3px 0px 0px #008551;
    margin-bottom: 3px;
    display: inline-block;
    padding: 12px 25px;
    border: none;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    max-width: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
#GTM #filtros__buscar:hover,
#GTM #filtros__reset:hover,
#GTM .paginacion__boton:hover {
	background-color: #009a5e;
}
#GTM .paginacion__boton--activo {
	background-color: #008551;
}
#GTM .paginacion__boton,
#GTM .paginacion__boton--activo {
	margin: 0 10px 10px 0;
    width: 50px;
    height: 40px;
    line-height: 20px;
    padding: 0;
    font-size: 14px;
}
#GTM .paginacion__boton--activo {
	cursor: default;
	pointer-events: none;
}
#GTM .cantidad-resultados {
	display: flex;
	justify-content: space-between;
	margin:0 0 10px 0;
}
#GTM .resultados {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
	padding: 10px 0;
}
#GTM .resultados__container {
	display: flex;
	flex-wrap: wrap;
}
#GTM .resultados__container ul {
	list-style: none;
	margin: 0;
}
#GTM .resultados__container ul li {
	margin: 0;
}
#GTM .resultados__mensaje {
	text-align: center;
}
#GTM .resultado__container {
    align-self: auto;
    color: #fff;
    background-color: #00935d;
    flex: 0 1 auto;
    margin: 10px auto;
    max-width: 360px;
    min-height: 200px;
	padding-bottom: 10px;
    width: 31%;
}

#GTM .resultado__container strong {
	color: #FFFFFF !important;
}

#GTM .resultado__cabecera {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#GTM .resultado__foto {
    background-color: #f2a102;
	display: inline-block;
    margin-top: 15px;
    padding-left: 15px;
    vertical-align: top;
}

#GTM .resultado__foto a {
	display: block;
	text-decoration: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

#GTM .resultado__foto a:hover {
	text-decoration: none;
}

#GTM .resultado__foto img {
	box-shadow: none;
	display: block;
    filter: brightness(1.15);
    height: 80px;
    object-fit: cover;
    width: 80px;
}

#GTM .resultado__info {
	display: inline-block;
	vertical-align: middle;
    line-height: 1.5em;
	margin-left: 10px;
	padding: 10px;
	width: 62%;
}
#GTM .resultado__info ul {
	margin-bottom: 0;
}
#GTM .resultado__info li,
#GTM .resultado__contacto {
	margin-left: 20px;
}
#GTM .resultado__info small {
	display: inline-block;
}
#GTM .resultado__contacto {
	margin-top:10px;
}
@media all and (max-width: 850px) {
	#GTM .filtros {
		flex-wrap: wrap;
		position: relative;
	}
	#GTM .filtros__columnas:first-child {
		flex: 1 0 100%;
	}
	
	#GTM input[name=nombre],
	#GTM select	{
		max-width: unset;
		width: 100%;
	}
	#GTM #filtros__buscar {
		margin-top: 20px;
	}
	#GTM .filtros__columnas:not(:first-child) {
		position: absolute;
		margin:0;
		bottom:20px;
		right: 20px;
	}
	#GTM .resultado__cabecera {
		flex-direction: column;
	}
	#GTM .resultado__estado {
		width: unset;
	}
}
@media all and (max-width: 1024px) {
	#GTM .resultado__container {
		width: 49%;
	}
}
@media all and (max-width: 680px) {
	#GTM .resultado__container {
		margin: 10px auto;
		width: 100%;
	}
}
